<%- include('../layouts/userHeader.ejs') -%>

    <main class="main single-page">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="index.html" rel="nofollow">Home</a>
                    <span></span> Pages
                    <span></span> About us
                </div>
            </div>
        </div>
        <section class="section-padding">
            <div class="container pt-25">
                <div class="row">
                    <div class="col-lg-6 align-self-center mb-lg-0 mb-4">
                        <h6 class="mt-0 mb-15 text-uppercase font-sm text-brand wow fadeIn animated">Our Company</h6>
                        <h2 class="font-heading mb-40">
                            When passion meets perfomance..!
                        </h2>
                        <p>Welcome to Sportzzone, your trusted partner in all things cricket! Born from a love for the game, we aim to bring the excitement of cricket closer to every fan and player by offering a wide selection of premium gear and accessories.

                            We believe cricket is more than just a sport—it’s a way of life. Whether you’re gearing up for your next big match or enjoying a casual game with friends, we’ve got you covered. From top-tier bats and balls to protective equipment, apparel, and training essentials, every item in our store is handpicked to deliver the perfect blend of quality and value.
                            
                            At Sportzzone, we’re not just about selling products; we’re about building connections. Our dedicated team is here to ensure you find exactly what you need and to support your journey on and off the pitch.
                            
                            As we continue to grow, our goal is to become a one-stop shop for cricket lovers everywhere, making it easier than ever to celebrate and play the game we all love.
                            
                            Thank you for choosing Sportzzone.
                            
                            
                            
                            
                            
                            
                            

                        </p>
                    </div>
                    <div class="col-lg-6">
                        <img src="assets/imgs/page/win.webp" alt="">
                    </div>
                </div>
            </div>
        </section>
        <section id="team" class="pt-25 wow fadeIn animated">
            <div class="container">
                <div class="row mb-50 align-items-center">
                    <div class="col-md-6">
                        <h6 class="mt-0 mb-15 text-uppercase font-sm text-brand wow fadeIn animated">Our Team</h6>
                        <h2 class="mb-15 wow fadeIn animated">Top team of experts</h2>
                        <p class="text-grey-3 wow fadeIn animated">
                            Our team of experts includes seasoned cricket professionals, coaches, and enthusiasts who bring years of experience to our brand. Their passion and knowledge ensure we provide the best products and advice for players of all levels.</p>
                    </div>
                    
                </div>
                <div class="position-relative">
                    <div class="row wow fadeIn animated">
                        <div class="col-lg-3 col-md-6">
                            <div class="blog-card border-radius-10 overflow-hidden text-center">
                                <img src="assets/imgs/page/ammu.jpg" alt="" class="border-radius-10 mb-30 hover-up">
                                <h4 class="fw-500 mb-0">Amrutha km</h4>
                                <p class="fw-400 text-brand mb-10">CEO & Co-Founder</p>
                                <div class="mobile-social-icon wow fadeIn animated mb-sm-5 mb-md-0 animated">
                                    <a href="#"><img src="assets/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                                    <a href="#"><img src="assets/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                                    <a href="#"><img src="assets/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                                    <a href="#"><img src="assets/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                                </div>
                            </div>
                        </div>
                        <!--col-->
                        <div class="col-lg-3 col-md-6">
                            <div class="blog-card border-radius-10 overflow-hidden text-center">
                                <img src="assets/imgs/page/msd3.jpg" alt="" class="border-radius-10 mb-30 hover-up">
                                <h4 class="fw-500 mb-0">M S Dhoni</h4>
                                <p class="fw-400 text-brand mb-10">Founder</p>
                                <div class="mobile-social-icon wow fadeIn animated mb-sm-5 mb-md-0 animated">
                                    <a href="#"><img src="assets/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                                    <a href="#"><img src="assets/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                                    <a href="#"><img src="assets/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                                    <a href="#"><img src="assets/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                                </div>
                            </div>
                        </div>
                        <!--col-->
                        <div class="col-lg-3 col-md-6">
                            <div class="blog-card border-radius-10 overflow-hidden text-center">
                                <img src="assets/imgs/page/virat2.jpg" alt="" class="border-radius-10 mb-30 hover-up">
                                <h4 class="fw-500 mb-0">Virat Kohli</h4>
                                <p class="fw-400 text-brand mb-10">Brand Adviser </p>
                                <div class="mobile-social-icon wow fadeIn animated mb-sm-5 mb-md-0 animated">
                                    <a href="#"><img src="assets/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                                    <a href="#"><img src="assets/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                                    <a href="#"><img src="assets/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                                    <a href="#"><img src="assets/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                                </div>
                            </div>
                        </div>
                        <!--col-->
                        <div class="col-lg-3 col-md-6">
                            <div class="blog-card border-radius-10 overflow-hidden text-center">
                                <img src="assets/imgs/page/sachinlast.jpg" alt="" class="border-radius-10 mb-30 hover-up">
                                <h4 class="fw-500 mb-0">Sachin Tendulkar</h4>
                                <p class="fw-400 text-brand mb-10">Mentor</p>
                                <div class="mobile-social-icon wow fadeIn animated mb-sm-5 mb-md-0 animated">
                                    <a href="#"><img src="assets/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                                    <a href="#"><img src="assets/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                                    <a href="#"><img src="assets/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                                    <a href="#"><img src="assets/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                                </div>
                            </div>
                        </div>
                        <!--col-->
                    </div>
                </div>
            </div>
        </section>
        <section id="work" class="mt-40 pt-50 pb-50 section-border">
            <div class="container">
                <div class="row mb-50">
                    <div class="col-lg-12 col-md-12 text-center">
                        <h6 class="mt-0 mb-5 text-uppercase  text-brand font-sm wow fadeIn animated">Sportzzone Coporation</h6>
                        <h2 class="mb-15 text-grey-1 wow fadeIn animated">Our main branches<br> around the world</h2>
                        <p class="w-50 m-auto text-grey-3 wow fadeIn animated">
                            We have top branches around the world, like in England, the birthplace of cricket; Australia, known for its cricketing passion; India, home to the largest fan base; South Africa, a hub of cricketing talent; and New Zealand, where the sport thrives.
                             These strategic locations ensure we serve cricket enthusiasts globally with the best products and services</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 text-center mb-md-0 mb-4">
                        <img class="btn-shadow-brand hover-up border-radius-10 bg-brand-muted wow fadeIn animated" src="assets/imgs/page/store5.webp" alt="">
                        <h4 class="mt-30 mb-15 wow fadeIn animated">New York, USA</h4>
                        <p class="text-grey-3 wow fadeIn animated">27 Division St, New York<br>NY 10002, USA</p>
                    </div>
                    <div class="col-md-4 text-center mb-md-0 mb-4">
                        <img class="btn-shadow-brand hover-up border-radius-10 bg-brand-muted wow fadeIn animated" src="assets/imgs/page/store8.jpeg" alt="">
                        <h4 class="mt-30 mb-15 wow fadeIn animated">Paris, France</h4>
                        <p class="text-grey-3 wow fadeIn animated">22 Rue des Carmes<br> 75005 Paris</p>
                    </div>
                    <div class="col-md-4 text-center">
                        <img class="btn-shadow-brand hover-up border-radius-10 bg-brand-muted wow fadeIn animated" src="assets/imgs/page/store2.jpg" alt="">
                        <h4 class="mt-30 mb-15 wow fadeIn animated">Jakarta, Indonesia</h4>
                        <p class="text-grey-3 wow fadeIn animated">2476 Raya Yogyakarta,<br>89090 Indonesia</p>
                    </div>
                </div>
            </div>
        </section>
       
    </main>
    
    <%- include('../layouts/userFooter.ejs') -%>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center">
                    <h5 class="mb-5">Now Loading</h5>
                    <div class="loader">
                        <div class="bar bar1"></div>
                        <div class="bar bar2"></div>
                        <div class="bar bar3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Vendor JS-->
    <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="assets/js/plugins/slick.js"></script>
    <script src="assets/js/plugins/jquery.syotimer.min.js"></script>
    <script src="assets/js/plugins/wow.js"></script>
    <script src="assets/js/plugins/jquery-ui.js"></script>
    <script src="assets/js/plugins/perfect-scrollbar.js"></script>
    <script src="assets/js/plugins/magnific-popup.js"></script>
    <script src="assets/js/plugins/select2.min.js"></script>
    <script src="assets/js/plugins/waypoints.js"></script>
    <script src="assets/js/plugins/counterup.js"></script>
    <script src="assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="assets/js/plugins/images-loaded.js"></script>
    <script src="assets/js/plugins/isotope.js"></script>
    <script src="assets/js/plugins/scrollup.js"></script>
    <script src="assets/js/plugins/jquery.vticker-min.js"></script>
    <script src="assets/js/plugins/jquery.theia.sticky.js"></script>
    <!-- Template  JS -->
    <script src="assets/js/maind134.js?v=3.4"></script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/page-about.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:10:46 GMT -->
</html>