<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Password Reset</title>
  <style>
    body {
      font-family: 'Poppins', sans-serif;
            background-image: url("/assets/imgs/page/back1.jpg");
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
    }

    div {
      background-color: transparent; 
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
            width: 100%;
            max-width: 350px;
            text-align: center;
            position: relative;
            top: 40px;
            backdrop-filter: blur(5px);
    }

    h1 {
      margin-bottom: 20px;
      color: #110146;
      font-size: 24px;
      font-weight: bold;
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    label {
      display: block;
      margin-bottom: 10px;
      color: #555;
      text-align: left;
      font-size: 14px;
    }

    input {
      width: 100%;
      padding: 12px;
      margin-bottom: 20px;
      border: 1px solid #ddd;
      border-radius: 8px;
      font-size: 16px;
      box-sizing: border-box;
      transition: border-color 0.3s;
    }

    button {
      background-color: #0c0255;
      color: white;
      padding: 12px 20px;
      border: none;
      border-radius: 8px;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    button:disabled {
      background-color: #b8b8b8;
      cursor: not-allowed;
    }

    button:hover {
      background-color: #3013b2;
    }

    .text-danger {
      color: red;
    }
  </style>
</head>
<body>

<div>
  <h1>Reset Password</h1>
  <form action="/newPassword" method="post">
    <%if(locals.message){%>
      <span class="text-danger"><%=message%></span>
    <%}%>
    <label for="newPassword">New Password:</label>
    <input type="password" id="newPassword" name="newPassword" required>
    
    <label for="confirmPassword">Confirm Password:</label>
    <input type="password" id="confirmPassword" name="confirmPassword" required>
    
    <button type="submit" id="resetButton">Reset Password</button>
  </form>
</div>

</body>
</html>
